<div class="container description-content">
    <div class="about-milk">
        <picture class="about-milk__img">
            <source srcset="/src/img/milk.png 1x, /src/img/milk@2x.png 2x" />
            <img src="/src/img/milk.png" alt="milk" />
        </picture>
        <div class="about-milk-text">
            <p class="about-milk-text__item">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <div class="svg-background">
                <svg class="icon icon-arrow-right"><use xlink:href="/icomoon/symbol-defs.svg#icon-arrow-right"></use></svg>
            </div>
        </div>
    </div>
    <picture class="description-content__women">
        <source srcset="/src/img/woman.png 1x, /src/img/woman@2x.png 2x" />
        <img src="/src/img/woman.png" alt="woman" />
    </picture>
</div>